
 <form class= "form-control" [formGroup]="formulario" (ngSubmit)="onSubmit()">
   <!-- Dados Cadastrais -->
  <div class="form-row"  >
        <div class="form-group col-md-6"  >        
          <label for="inputNome">Nome</label>         
          <input type="text" class="form-control" [ngClass]="aplicaCssErro('inputNome')" id="nome" formControlName="inputNome" name="nome"  placeholder="nome" >
          <form-control [mostrarErro]="verificaValidTouched('inputNome')"  msgErro ="Nome é obrigatório."></form-control> 
        </div>
        <div class="form-group col-md-6" >
          <label for="inputEmail">Email</label>
          <input type="email"  class="form-control" [ngClass]="aplicaCssErro('inputEmail')" formControlName="inputEmail"  placeholder="Email">
          <form-control [mostrarErro]="verificaValidTouched('inputEmail')"  msgErro ="Email é obrigatório."></form-control> 
        </div>
  </div>
 
   <!-- Dados de Endereço -->
    <div formGroupName="endereco">   
      <div class="form-row">
          <div class="form-group col-md-4">
              <label>Estado</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
          </div>

            <div class=" form-group col-md-4">
              <label for="Cidade">Cidade</label>
              <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.inputCidade')" formControlName="inputCidade"
               placeholder="Cidade">
               <form-control [mostrarErro]="verificaValidTouched('endereco.inputCidade')"  msgErro ="Cidade é obrigatório."></form-control> 
            </div>

            <div class="form-group col-md-4">
              <label>CEP</label>
              <input type="text" class="form-control" formControlName="inputCep" [ngClass]="aplicaCssErro('endereco.inputCep')" placeholder="Zip">
              <form-control [mostrarErro]="verificaValidTouched('endereco.inputCep')"  msgErro ="CEP é obrigatório."></form-control> 
            </div>
       </div>    
     
      <div class="form-row">
          <div class=" form-group col-md-4">
              <label for="Cidade">Rua</label>
              <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.inputRua')" formControlName="inputRua"
               placeholder="Rua">
               <form-control [mostrarErro]="verificaValidTouched('endereco.inputRua')"  msgErro ="Rua é obrigatório."></form-control> 
            </div>
            <div class=" form-group col-md-4">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" formControlName="inputBairro"
                 placeholder="Bairro">
                 
            </div>
            <div class=" form-group col-md-4">
                <label for="Complemento">Complemento</label>
                <input type="text" class="form-control" formControlName = "inputComple"
                 placeholder="Complemento">
            </div>
      </div>    
    </div>
<!-- Dados de Endereço -->
 


<!--Dados do Usuario-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Usuario</label>
      <input type="text" class="form-control" formControlName="inputUsuario" [ngClass]="aplicaCssErro('inputUsuario')" placeholder="Usuario">
      <form-control [mostrarErro]="verificaValidTouched('inputUsuario')"  msgErro ="Usuario é obrigatório."></form-control> 
    </div>
      
    <div class="form-group col-md-6">
      <label>Senha</label>
      <input type="password" class="form-control" formControlName="inputSenha" [ngClass]="aplicaCssErro('inputSenha')" placeholder="Senha">
      <form-control [mostrarErro]="verificaValidTouched('inputSenha')"  msgErro ="Senha é obrigatório."></form-control> 
    </div> 
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <!-- botão desabilitado enquanto n tiver valido o formulario -->
      <!-- não habilita pq ainda n implementei o endereço e Estado principalmente -->
     <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary" >Submit</button>
    </div>   
  </div>
  <!--Dados do Usuario-->
</form>
